{% extends "base.html" %}

{% block title %}
PV_Potenzial
{% endblock %}





{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col d-flex justify-content-center h2">Schneelastvergleich für die Potenzialabschätzung eines PV Ausbaus</div>
        <HR>
        <div class="col-1"></div>

    </div>
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col"><img src="{{ url_for('static', filename='normen.png') }}" class="rounded mx-auto d-block"></div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5">
        
        <div class="col-12 with-margin" style="text-align: right;"><p class="text-right">&copy;2023</p></div>
    </div>
</div>




{% endblock %}