{% extends "base.html" %}

{% block title %}
PV_Potenzial
{% endblock %}





{% block content %} 
<div class="container">

    
    <div class="row">
        <div class="col-1"></div>
        <div class="col d-flex justify-content-center h2">Allgemeiner Statischer Nachweis für die Anordnung von PV Modulen auf Dächern</div>
        <HR>
        <div class="col-1"></div>
    <div class="prinzip">
        <div class="col-1"></div>
        <div class="col d-flex justify-content-center">
            <p>Prinzip und Vorgehensweise: 
            </p>
        </div>
        <div class="col d-flex justify-content-center">
                <ul>
                    - Die Beurteilung macht sich die Tatsache zu Nutze, dass die <strong>normativen Schneelasten sich im Laufe der Jahre geändert haben.</strong><br>
                    - Im gegebenen Tool wird der Unterschied zwischen normativen Schneelast im Jahr des Gebäudeerrichtungs und aktuellen Schneelast berechnet.<br>
                    - Soll der ausgerechnete Unterschied einen <strong>genügenden Belastungsvorrat</strong> des Daches zeigen, kann das PV Modul auf dem Dach gestellt werden.
                </ul>
        </div>
    </div>

    </div>
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col"><img src="{{ url_for('static', filename='normen.png') }}" class="rounded mx-auto d-block"></div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5">
        
        <div class="col-12 with-margin" style="text-align: right;"><p class="text-right">&copy;2023</p></div>
    </div>
</div>




{% endblock %}