{% extends "base.html" %}

<!DOCTYPE html>

<html>
    <head>
        <title>No_possibility_for_assessment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


{% block content %}
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-12">
    
            <p>Beurteilung nicht möglich. Für die Bemessung auf Schneelast wurde die neueste Norm verwendet.</p>
    </div>
    </div>

</div>

{% endblock %}
</html>